.accordion-button:not(.collapsed){
    background-color: darkseagreen;
    color: antiquewhite;
}

/* .accordion-button:not(.collapsed)::after{
    background-image:url('../assets/img/arrow-alt-circle-up.svg');
    background-repeat: no-repeat;
    transform: rotate(0deg);
} */